Le cours a été créer avec succés !
<br><br>
<a href="{{ path('app_secretaire_voircalendrier') }}">Voir la liste des cours sur le calendrier</a>
<br>
<a href="{{ path('app_accueil_accueil') }}">Retour à l'accueil</a>