La matière a été créer avec succés !
<br><br>
<a href="{{ path('app_secretaire_listmatieres') }}">Voir la liste des matières</a>
<br>
<a href="{{ path('app_accueil_accueil') }}">Retour à l'accueil</a>