<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Pronote v9000{% endblock %}</title>
    {# Run `composer require symfony/webpack-encore-bundle`
           and uncomment the following Encore helpers to start using Symfony UX #}
</head>
<body>
    <p>Intervenants supprimés</p>
    <a href="{{ path('app_accueil_accueil') }}">Retour à l'accueil</a>
</body>
</html>
