{% for Intervenant in Intervenants %}
<tr>
    <td>Nom : {{ Intervenant.nom }}</td><br>
    <td>Prénom : {{ Intervenant.prenom }}</td><br>
    <td>Spécialité : {{ Intervenant.specialite }}</td><br><br>
</tr><br>
{% endfor %}