<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Pronote v9000{% endblock %}</title>
    {# Run `composer require symfony/webpack-encore-bundle`
           and uncomment the following Encore helpers to start using Symfony UX #}
</head>
<body>
    {% block body %}
        <p>Accueil</p>

        {% if app.user %}
            <div class="mb-3">
                Connecté en tant que : {{ app.user.email }}, <a href="{{ path('app_logout') }}">Déconnexion</a>
            </div>
        {% endif %}

        <input type="button" value="Intervenant" onclick="location.href='/connexion_intervenant'"/>
        <input type="button" value="Secretaire" onclick="location.href='/connexion_secretaire'"/>

    {% endblock %}
</body>
</html>
